@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Cart";
}
@model CartViewModel;

    <section>
        <script src="https://www.paypal.com/sdk/js?client-id=Aa2Exsni8UtIJ51dbKE0UpgwK5cJpNs32wabmp4u1sbk9mUQIOhCQspTkH1mPQBYAYHGSYumeMmIZqym"></script>
        <h1>@(Model.CartItems.Count == 0 ? "Your Cart Appears to be Empty :(" : "Your Cart")</h1>
        @foreach (var item in Model.CartItems)
        {
            <article class="row">
                <div class="col-2">
                    <img width="50" height="50" src=@item.BaseProduct.CustomImagePNG />
                </div>
                <div class="col-3">
                    <h3>@item.BaseProduct.ProductTitle</h3>
                    <p>Selected in @item.BaseProduct.BaseProduct.BaseColor.ColorName size @item.BaseProduct.BaseProduct.BaseSize</p>
                </div>
                <div class="col-3 flex-column">
                    <span class="p-2">Quantity - <input class="qnty_input" type="number" data-productId=@item.BaseProduct.CustomProductID min="1" defaultValue=@item.Quantity /> </span>
                    <br />
                    <span class="p-2">Subtotal - @((item.Quantity * item.BaseProduct.CurrentPrice).ToString("c")) </span>
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">
                    <a asp-controller="Cart" asp-action="Remove" asp-route-productId=@item.BaseProduct.CustomProductID>Remove Item</a>
                </div>
            </article>
        }
        <div id="paypal-button-container"></div>
        <script>
            paypal.Buttons({
                createOrder: function () {
                    const serverURL = "https:localhost:8080";
                    return fetch(serverURL + 'Cart/CreateOrder', {
                        method: 'POST',
                        headers: {
                            'content-type': 'application/json'
                        }
                    }).then(function(res) {
                        return res.json
                    }).then(function(data)) {
                        return data.orderID;
                    }
                }
            }).render('#paypal-button-container');
        </script>
    </section>