@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Cart";
}
@model CartViewModel;

    <section>
        <script 
            src="https://www.paypal.com/sdk/js?client-id=AZpm9gTt8pFrq0PZoGf_ptllalZ5UtmqOf6vTpcwtIC0lTD09EA5fTyyhwTHoUJNsmKYh4E6IxK7Ky0P">
        </script>

        <h1>@(Model.CartItems.Count == 0 ? "Your Cart Appears to be Empty :(" : "Your Cart")</h1>
        @foreach (var item in Model.CartItems)
        {
            <article class="row">
                <div class="col-2">
                    <img width="50" height="50" src=@item.ProductSelection.CustomImagePNG />
                </div>
                <div class="col-3">
                    <h3>@item.ProductSelection.ProductTitle</h3>
                    <p>Selected in @item.ProductSelection.BaseProduct.BaseColor.ColorName size @item.ProductSelection.BaseProduct.BaseSize.SizeName</p>
                </div>
                <div class="col-3">
                    Quantity - <input class="qnty_input" type="number" data-cartItemId=@item.CartItemID min="1" value=@item.Quantity />
                </div>
                <div class="col-2">
                    Subtotal - @((item.Quantity * item.ProductSelection.CurrentPrice).ToString("c"))
                </div>
                <div class="col-2">
                    <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId=@item.CartItemID>Remove Item</a>
                </div>
            </article>
        }
        <h3>Your total is: $@Model.CartPrice</h3>
        <div id="paypal-button-container"></div>
        <script>
            const serverURL = "https://localhost:44386";
            paypal.Buttons({
                createOrder: function () {
                    return fetch(serverURL + '/Cart/CreateOrder', {
                        method: 'POST',
                        headers: {
                            'content-type': 'application/json'
                        }
                    }).then(function (res) {
                        return res.json();
                    }).then(function (data) {
                        return data.orderID;
                    });
                },
                onApprove: function (data) {
                    return fetch(serverURL + '/Cart/GetAndSaveOrder', {
                        method: 'POST',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID
                        })
                    }).then(function (res) {
                        return res.json();
                    }).then(function (data) {
                        return data.orderID;
                    });
                }
            }).render('#paypal-button-container');
        </script>
    </section>