@model TeamSettingsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Team Settings";
}


<div class="panel-heading text-center">
    <h1>Team Settings</h1><br />
</div>
<div id="wrapper">
    <div class="panel panel-success">
        <div class="panel-body">
            <form class="p-a-1" asp-controller="Team" asp-action="TeamSettings" asp-route-id="@Model.TeamID" method="post">
                <div asp-validation-summary="All" >
                    <div class="form-group">
                        <label>Team Name:</label>
                        <input required class="form-control" asp-for="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <label>Team Country:</label>
                        <input required class="form-control" asp-for="@Model.Country.CountryName" />
                    </div>
                    <div class="form-group">
                        <label>Team Providence:</label>
                        <input required class="form-control" asp-for="@Model.Providence.ProvinceName" />
                    </div>
                    <div class="form-group">
                        <label>Team Street Address:</label>
                        <input required class="form-control" asp-for="@Model.StreetAddress" />
                    </div>
                    <div class="form-group">
                        <label>Team Zip Code:</label>
                        <input required class="form-control" asp-for="@Model.ZipCode" />
                    </div>
                    <div class="form-group">
                        <label>Team's Business Page(URL):</label>
                        <input required class="form-control" asp-for="@Model.CorporatePageURL" />
                    </div>
                    <div class="form-group">
                        <label>Team Email:</label>
                        <input required class="form-control" asp-for="@Model.BusinessEmail" />
                    </div>
                    <div class="form-group">
                        <label>Team Phone Number:</label>
                        <input required class="form-control" asp-for="@Model.PhoneNumber" />
                    </div>
                    <div class="form-group">
                        <label>Team Description:</label>
                        <textarea required class="form-control" asp-for="@Model.Description"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>