@inject ICategoryRepo categoryRepo
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dropShippingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">dropShippingApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Product" asp-action="Index">Apparel</a>
                            <ul class="dropdown-menu">
                                @foreach (var category in categoryRepo.GetCategories)
                                {
                                    <li><a class="nav-link text-dark" asp-controller="Product" asp-action="DisplayByCategory" asp-route-categoryID="@category.ProductCategoryID">@category.Name</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a class="nav-link text-dark"><span class="glyphicon glyphicon-user" style="padding-right: 5px"></span>Welcome @UserManager.GetUserName(User)</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out" style="padding-right: 5px"></span>Logout</a>
                        </li>
                    }
                    else
                    {
                        <li><a class="nav-link text-dark" asp-controller="Login" asp-action="Signup"><span class="glyphicon glyphicon-user" style="padding-right: 5px"></span>Register</a></li>
                        <li><a class="nav-link text-dark" asp-controller="Login" asp-action="Login"><span class="glyphicon glyphicon-log-in" style="padding-right: 5px"></span>Login</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - dropShippingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
